ScholarStation/*.iml
ScholarStation/.gradle
ScholarStation/local.properties
ScholarStation/.idea/workspace.xml
ScholarStation/.idea/libraries
ScholarStation/.DS_Store
ScholarStation/build
ScholarStation/captures
ScholarStation\.idea\*
